---
layout: default
---
{% include JB/setup %}
	
<div class="icons">
	<ul class="centered">
		<li>
			<a class="icon" href="http://www.linkedin.com/pub/tor-nilsson-%C3%B6hrn/76/3b9/a79" title="Linkedin Profile">
				<i class="icon-linkedin-sign "></i>
				<!-- <p class="icon-caption">LinkedIn</p> -->
			</a> 
		</li>
		<li>
			<a class="icon" href="https://github.com/biggestT" title="Github Profile">
				<i class="icon-github " ></i> 
				<!-- <p class="icon-caption">GitHub</p> -->
			</a>
		</li>
		<li>
			<a class="icon" href="{{ BASE_PATH }}/assets/documents/cv.pdf" title="CV in pdf format">
				<i class="icon-file"></i>
				<!-- <p class="icon-caption">CV.pdf</p> -->
		</a>
		</li>
	</ul>
</div>
<div class="previewList">
	<!-- <h2>Current Projects</h2> -->
	<ul class="centered">
	  {% assign pages_list = site.categories.projects %}  
	  {% include JB/pages_list %}
	</ul>
</div>

